<!DOCTYPE html>
<html>

<head>

<title>{{ article["title"] }}</title>

<meta name="viewport" content="width=device-width, initial-scale=1">


<!-- WhatsApp Preview -->

<meta property="og:title" 
content="{{ article['title'] }}">


<meta property="og:description" 
content="{{ article['article'][:150] }}">


{% if article["image"] %}

<meta property="og:image"
content="{{ article['image'] }}">

{% endif %}


<meta property="og:type"
content="article">


<meta property="og:url"
content="{{ request.url }}">



<link rel="stylesheet" 
href="{{ url_for('static', filename='css/style.css') }}">


</head>


<body>


<header class="header">

<h2>📰 Local News</h2>

</header>



<div class="article-container">



{% if article["image"] %}

<img class="article-image"
src="{{ article['image'] }}">

{% endif %}




<h1>
{{ article["title"] }}
</h1>



<p class="meta">

📍 {{ article["location"] }}

<br>

🕒 {{ article["created_at"] }}

</p>




{% if article["video"] %}

<video class="article-video" controls>

<source src="{{ article['video'] }}" type="video/mp4">

Your browser does not support the video tag.

</video>

{% endif %}





<div class="article-text">

{{ article["article"] }}

</div>





<a class="whatsapp"

href="https://wa.me/?text={{request.host_url}}news/{{article['id']}}">


📲 Share on WhatsApp


</a>



</div>



</body>

</html>